*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
   background-color: rgb(51,51,51); 
   color: white;
}

#pic, #article, #text, #bouton{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    text-align: center;
    font-size: 40px;
}

#com{
   display: flex;
   justify-content: space-between;
   flex-direction: column; 
}

.comment{
    background-color: grey;
    color: black;
    max-width: 30em;
    border-radius: 15px;
    text-align: center;
}

#article{
    max-width: 30em;
    text-align: justify;
    margin: auto;
}

@media (min-width: 800px){
    #container{
        display: flex;
    }

    #bouton{
        align-items: flex-end;
        padding-right: 160px;
    }
   
}