*{
    margin: 0px;
    padding: 0px;
}
header{
    display:flex;
    height: 250px;
    background: linear-gradient(110deg, white 50%, rgb(51,51,51) 50%);
    
}
header h1{
    width: 50%;
    font-size: 3rem;
    align-items: center;
    display: flex;
    
    
}
header h1 span{
    color: rgba(172, 24, 24, 0.767);
    font-size: 130%;
    font-family: 'Monoton', cursive;
}
nav{
    width: 60%;
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    
}
nav ul li{
    padding-top: ;
    font-size: 2rem;
    height: 100%;
    list-style-type: none;
    align-items:center;
    display: flex;
}
nav ul li span{
    display: none;
}