*{
    margin: 0px;
    padding: 0px;
}
header{
    display:flex;
    height: 200px;
    background: linear-gradient(130deg, #EEE 45%,rgb(51, 51, 51) 45%);
    font-family: 'Open Sans Condensed', sans-serif;
    border-radius: 0px 0px 20px 20px;
    
}
header h1{
    width: 50%;
    font-size: 4rem;
    align-items: center;
    display: flex;
    margin: 0 auto 0 auto;
    justify-content: center;
    
}
header h1 span{
    color: rgba(172, 24, 24, 0.767);
    font-size: 130%;
    font-family: 'Monoton', cursive;
}
nav{
    width: 50%;
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    
}
nav ul li{
    padding-top: ;
    font-size: 2.5rem;
    height: 100%;
    list-style-type: none;
    align-items:center;
    display: flex;
    color:white;
}
nav ul li a {
    text-decoration: none;
    color:white;
}
nav ul li a:hover{
    color:rgba(172, 24, 24, 0.767);
}
nav ul li .icone{
    display: none;
}
nav ul #lienHome{
    background-color:rgba(172, 24, 24, 0.767);
    padding-right: 10px;
    padding-left: 10px;
    border-radius:6px;
}
nav ul #lienHome a:hover{
    color: rgb(51, 51, 51);
}
main{
    height: 600px;
}
body{
    background-color:rgb(32, 28, 28);
}

section{
    padding: 50px;
    margin: 50px;
    background-color: rgb(51, 51, 51);
    border: 2px solid rgba(172, 24, 24, 0.767);
    border-radius: 20px;
}
section p{
    color:#EEE;
}
@media screen and (max-width: 400px){
    *{
        margin: 0px;
        padding: 0px;
    }
    header{
        width: 100%;
        height:auto;
        display: inline-block;
        background: #EEE;
    }
    header h1{
        width: 100%;
        font-size: 2em;
    }
    header nav{
        width: 100%;
        background: rgb(51,51,51);
        padding: 12px;
    }
    header nav ul{
        display: flex;
    }
    header nav ul li .icone{
        width: 20%;
        display: flex;

    }
    header nav ul li .nomLi{
        display: none;
    }
    nav ul #lienHome{
        background-color:rgba(172, 24, 24, 0.767);
        padding: 6px;
        border-radius:6px;
    }
    nav ul #lienHome:hover a{
        color:rgb(51, 51, 51);
    }
    
}