* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*HEADER*/

header{
    display:flex;
    height: 200px;
    background: linear-gradient(130deg, rgb(255, 251, 27) 15%,rgb(82, 41, 41) 18%, rgb(30, 5, 76) 35%, rgb(17, 177, 102) 43%, rgb(167, 11, 97) 48%, rgb(161, 172, 14) 55%, rgb(214, 98, 21) 60%, rgba(8, 129, 103, 0.767) 72%, rgb(83, 2, 2) 81%);
    font-family: 'Open Sans Condensed', sans-serif;
}
header h1{
    width: 100%;
    font-size: 4em;
    align-items: center;
    color: rosybrown;
    display: flex;
    margin: 0 auto 0 auto;
    justify-content: center;
}
header h1 span{
    color: rgb(207, 70, 189);
    font-size: 130%;
    font-family: 'Permanent Marker', cursive;
    margin: 0 2%;
}
header nav{
    width: 100%;
    background:rgb(82, 41, 41) 37%);
    padding: 12px;
}
header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
nav ul li{
    font-size: 2.5rem;
    height: 100%;
    list-style-type: none;
    align-items:center;
    display: flex;
    color:white;
}
header nav ul li a{
    width: 20%;
    color: #EEE;
    text-decoration:none ;

}
nav ul li a:hover{
    color:rgb(207, 70, 189);
}
nav ul li .icone{
    display: none;
}
/*MAIN*/

#gallery {
    padding: 50px 0;
    background-color: rgb(13, 255, 45);
    /*background-color: greenyellow;*/
}
h1{
    text-align: center;
    margin: 0 auto 50px auto;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 80px;
}
#gallery>h1{
    color: red;
}
#photographer>h1{
    color: purple;
}


.container{
    display: flex;
    justify-content: space-around;
}
.parentblock {
    width: 49%;
    /*border: 2px solid blue;*/
    display: flex;
    flex-direction: column;
}
h2 {
    align-self: center;
    margin-bottom: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
}

.photos {
    display: flex;
    /*border: 1px solid black;*/
    flex-wrap: wrap;
    width:90%;
    align-self: center;
    justify-content: space-around;
}
.photos>img{
    margin: 2px;
    width: 48%;
    padding-bottom: 10px;
    /*border: 1px solid red;*/
}

.photos>img:hover{
    opacity: 0.5;
    /*border: 1px solid red;*/
}

#gallery p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    color: blue;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 40px auto 30px auto;
    width: 17%;
    border: 2px double blueviolet;
    }
    #gallery p a{
    text-decoration: none;
    }
    #gallery p:hover{
    border-color: yellow;
    }
    #gallery p a:hover{
    color: rgb(216, 83, 161);
    }

section:nth-of-type(2){
    background-color: rgb(243, 247, 31);
    padding: 50px 0;
}

#photographer>div>img{
    margin-left: 5%;
    width: 25%;
    align-self: center;
    /*border: 1px solid purple;*/
}
#photographer>div>p{
    margin: 0 5%;
    /*border: 1px solid orangered;*/
    font-size: 20px;
    align-self: center;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: justify;
    font-size: 20px;
    color: crimson;
}

/*FOOTER*/

footer{
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 40px 0;
    font-weight: bold;
    background-color: rgb(40, 20, 223);
}
footer .gauche{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.pourGauche{
    display: flex;
    width: 30%;
    flex-direction: row;

}
footer .gauche i{
    text-decoration: none;
    color: rgb(28, 204, 21);
    padding: 5px;
    font-size: 2rem;
}
footer .droite{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    padding: 0px;
    
}
footer .droite a{
    text-decoration: none;
    color: rgb(28, 204, 21);
    padding: 5px;
    font-size: 2rem;
}
footer .gauche i:hover, footer .droite a:hover{
    color: rgb(247, 82, 197);
}

@media screen and (max-width: 961px) {  
    
header{
    flex-direction: column;
}

nav ul {
    justify-content: space-evenly;
}
nav ul li .nomLi{
    display: none;
}
nav ul li .icone{
    display:flex;
}

#gallery>.container {
    flex-direction: column;
    align-items: center;
}
.parentblock {
    width: 95%;
}
.parentblock:first-of-type{
    margin-bottom: 30px;
}
.photos{
    flex-direction: column;
    align-items: center;
    width: 95%;
}
.photos>img{
    width: 100%;
    margin-bottom: 10px;
}
#gallery p{
    width: 40%;
}

#photographer>div{    
    flex-direction: column;
}
#photographer>div>img{
align-self: center;
width: 80%;
margin-right: 5%;
}
#photographer>div>p{
    margin-top: 5%;
    text-align: justify;
    width: 80%;
    font-size: 30px;
}
footer{
    flex-direction: column-reverse;
}
footer .droite{
    flex-direction: column;
}
}