*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height:auto;
    display: inline-block;
    background: #EEE;
    font-family: 'Open Sans Condensed', sans-serif;
    border-radius: 0px 0px 20px 20px;
}
header h1{
    width: 100%;
    font-size: 2em;
    align-items: center;
    display: flex;
    margin: 0 auto 0 auto;
    justify-content: center;
}
header h1 span{
    color: rgba(172, 24, 24, 0.767);
    font-size: 130%;
    font-family: 'Permanent Marker', cursive;
}
header nav{
    width: 100%;
    background: rgb(51,51,51);
    padding: 12px;
}
header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
nav ul li{
    font-size: 2.5rem;
    height: 100%;
    list-style-type: none;
    align-items:center;
    display: flex;
    color:white;
}
header nav ul li a{
    width: 20%;
    color: #EEE

}
nav ul li a:hover{
    color:rgba(172, 24, 24, 0.767);
}
header nav ul li .nomLi{
    display: none;
}
nav ul #lienContact{
    background-color:rgba(172, 24, 24, 0.767);
    padding: 6px;
    border-radius:6px;
}
nav ul #lienContact:hover a{
    color:rgb(51, 51, 51);
}


footer{
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
    width: 100%;
    padding: 0px;
    background-color:rgb(51, 51, 51);
}
footer .gauche{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.pourGauche{
    display: flex;
    width: 30%;
    flex-direction: row;

}
footer .gauche i{
    text-decoration: none;
    color: #EEE;
    padding: 5px;
    font-size: 2rem;
}
footer .droite{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    
}
footer .droite a{
    text-decoration: none;
    color: #EEE;
    padding: 5px;
    font-size: 1rem;
}
footer .gauche i:hover, footer .droite a:hover{
    color: rgba(172, 24, 24, 0.767);
}

main{
    background-color: #636468;
    color: #EEE;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}

body{
    background-color: #636468;
}


#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
}

.option{
    font-family: 'Open Sans Condensed', sans-serif;
}

#password, #mail, #text, #selector{
    width: 500px;
}

#password, #mail, #selector{
    height: 30px;
}

#text{
    height: 100px;
}

.butt{
    display: block;
    padding:10px 20px;
    border: 3px solid #FFFFFF;
    margin: 0 auto 5%;
    border-radius:2px;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    width: fit-content;
    width: -moz-fit-content;
    background-color: none;
}

.butt:hover {
    color:#000000;
    background-color:#FFFFFF;
    }

@media screen and (max-width:961px){
    #password, #mail, #text, #selector{
        width: 300px;
    }
}

@media screen and (min-width: 961px){
    header{
        display:flex;
        height: 200px;
        background: linear-gradient(130deg, #EEE 37%,rgb(51, 51, 51) 37%);
        
        
        
    }
    header h1{
        width: 60%;
        font-size: 4rem;
        
        
    }
    header nav {
        background: none;
    }
    nav{
        width: 40%;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        
    }
    nav ul li a .nomLi{
        display: flex;
    }
    nav ul li a #shop{
        width: 100px;
    }
    nav ul li{
        font-size: 2.5rem;
        height: 100%;
        list-style-type: none;
        align-items:center;
        display: flex;
        color:white;
    }
    nav ul li a {
        text-decoration: none;
        color:white;
    }
    nav ul li .icone{
        display: none;
    }
    nav ul #lienContact{
        background-color:rgba(172, 24, 24, 0.767);
        padding-right: 10px;
        padding-left: 10px;
        border-radius:6px;
    }
    nav ul #lienContact a:hover{
        color: rgb(51, 51, 51);
    }
    footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 30px;
        flex-direction: row;
        
    }
    footer .pourGauche{
        width: 30%;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-wrap: wrap;
        text-align: left;
    }
    
    footer .gauche{
        display: flex;
        align-items: center;
        margin-right: 0px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: stretch;
    
    }
    footer .droite{
        display: flex;
        text-align: end;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        width: 65%;
    }
    footer .droite a{
        font-size: 1rem;
    }
    footer .gauche i{
        text-decoration: none;
        color: #EEE;
        padding: 5px;
        font-size: 2rem;
    }
    
}