* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section {
	display: flex;
	justify-content:center;
	margin-top: 30px;
}

.articles {
	width:90%;
}
 .article {
 	margin-bottom: 15Px;
	background-color: #fff;
	border: 10px black double;
	margin:15px;
	border-radius: 10px;
 }

 .articles_cols {
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
 }

.description {
	text-align: center;
	overflow: hidden;
	white-space: pre-wrap;
	height: 95px;
	background-color: #EEE;
}

figure {
	width: 375px;
	height: 520px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #EEE;
}

figcaption {
	display: flex;
	justify-content: center;
	color: #EEE;
	font-weight: bold;
	font-size: 1,2rem;
	background-color: rgb(51,51,51);
	padding: 6px;
	border-radius: 5px;
}

@media screen and (min-width:450px) {
	.articles_cols {
		flex-direction: row;
	}
}

img {
	border: 1px solid #000;
	border-radius: 5px;
