/* -------------------- START HEADER -------------------- */

header {
	width: 100%;
	height: auto;
	display: inline-block;
	background: #eee;
	font-family: 'Open Sans Condensed', sans-serif;
	border-radius: 0 0 20px 20px;
}

header h1 {
	width: 100%;
	font-size: 2em;
	align-items: center;
	display: flex;
	margin: 0 auto 0 auto;
	justify-content: center;
}

header h1 span {
	color: rgba(172, 24, 24, 0.767);
	font-size: 130%;
	font-family: 'Permanent Marker', cursive;
}

header nav {
	width: 100%;
	background: rgb(51, 51, 51);
	padding: 12px;
}

header nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}

nav ul li {
	font-size: 2.5rem;
	height: 100%;
	list-style-type: none;
	align-items: center;
	display: flex;
	color: white;
}

header nav ul li a {
	width: 20%;
	color: #eee;
}

nav ul li a:hover {
	color: rgba(172, 24, 24, 0.767);
}

header nav ul li .nomLi {
	display: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav ul #lienBlog {
	background-color: rgba(172, 24, 24, 0.767);
	padding: 6px;
	border-radius: 6px;
}

nav ul #lienBlog:hover a {
	color: rgb(51, 51, 51);
}

/* -------------------- END HEADER -------------------- */

html {
	font-size: 16px;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: #636468;
}

section {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.articles {
	max-width: 100rem;
}

.article {
	border: 4px black double;
	margin: .6rem;
	margin-bottom: 30px;
	border-radius: 5px;
	transition: all 0.2s ease-in 0.2s;
}

.article:hover {
	border: 8px #555 double;
	background-color: rgba(172, 24, 24, 0.767);
	font-size: 1.2em;
	margin-bottom: 16px;
}
.articles_cols {
	display: flex;
	flex-wrap: wrap;
}

.description {
	text-align: center;
	overflow: hidden;
	height: 7rem;
	background-color: #eee;
	cursor: pointer;
}

.description:hover {
	background-color: #fff;
}

.description:hover::after {
	content: " ... ";

}

.description::first-letter {
	font-size: 2em;
}

figure {
	width: 23.4rem;
	height: 31.50rem;
	padding: .4rem;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background-color: #eee;
}

figcaption {
	display: flex;
	justify-content: center;
	color: #eee;
	font-size: 1.2rem;
	background-color: rgb(51, 51, 51);
	padding: .5rem;
	border-radius: 5px;
	letter-spacing: .15em;
	font-variant: all-small-caps;
}

img {
	border: 1px solid #000;
	border-radius: 5px;
	width: 22.5rem;
	height: 21rem;
	text-transform: capitalize;
	margin-top: .4em;
}

a {
	text-decoration: none;
	color: rgb(51, 51, 51);
}

figure a:hover {
	text-decoration: underline;
}

@media screen and (min-width:450px) {
	.articles_cols {
		flex-direction: row;
		justify-content: space-around;
	}
	
	
}

/* -------------------- START FOOTER -------------------- */

footer {
	font-family: 'Open Sans Condensed', sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column-reverse;
	width: 100%;
	padding: 0;
	background-color: rgb(51, 51, 51);
}

footer .gauche {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-around;
	flex-direction: column;
	width: 100%;
	padding: 0;
	margin: 0;
}

.pourGauche {
	display: flex;
	width: 30%;
	flex-direction: row;
}

footer .gauche i {
	text-decoration: none;
	color: #eee;
	padding: 5px;
	font-size: 2rem;
}

footer .droite {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-around;
	flex-direction: column;
	width: 100%;
	padding: 0;
}

footer .droite a {
	text-decoration: none;
	color: #eee;
	padding: 5px;
	font-size: 1rem;
}

footer .gauche i:hover, footer .droite a:hover {
	color: rgba(172, 24, 24, 0.767);
}

@media screen and (min-width: 961px){
	header {
		display: flex;
		height: 200px;
		background: linear-gradient(130deg, #eee 37%, rgb(51, 51, 51) 37%);
	}
	
	header h1 {
		width: 60%;
		font-size: 4rem;
	}
	
	header nav {
		background: none;
	}
	
	nav {
		width: 40%;
	}
	
	nav ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%;
		height: 100%;
	}
	
	nav ul li a .nomLi {
		display: flex;
	}
	
	nav ul li a #shop {
		width: 100px;
	}
	
	nav ul li {
		font-size: 2.5rem;
		height: 100%;
		list-style-type: none;
		align-items: center;
		display: flex;
		color: white;
	}
	
	nav ul li a {
		text-decoration: none;
		color: white;
	}
	
	nav ul li .icone {
		display: none;
	}
	
	nav ul #lienBlog {
		background-color: rgba(172, 24, 24, 0.767);
		padding-right: 10px;
		padding-left: 10px;
		border-radius: 6px;
	}
	
	nav ul #lienBlog a:hover {
		color: rgb(51, 51, 51);
	}
	
	footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 30px;
		flex-direction: row;
	}
	
	footer .pourGauche {
		width: 30%;
		display: flex;
		align-items: start;
		justify-content: center;
		flex-wrap: wrap;
		text-align: left;
	}
	
	footer .gauche {
		display: flex;
		align-items: center;
		margin-right: 0;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: stretch;
	}
	
	footer .droite {
		display: flex;
		text-align: end;
		justify-content: space-around;
		flex-wrap: wrap;
		flex-direction: row;
		width: 65%;
	}
	
	footer .droite a {
		font-size: 1rem;
	}
	
	footer .gauche i {
		text-decoration: none;
		color: #eee;
		padding: 5px;
		font-size: 2rem;
	}
	
	
}
